<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 홈페이지에 오신걸환영합니다</h1>
<header>
    <nav>
        홈
        프로필
        찾아오시는길
        문의하기
    </nav>
</header>
</body>
</html>